services:

  heimdall:
    image: lscr.io/linuxserver/heimdall:latest
    container_name: heimdall
    environment:
      - TZ=$tzone # your TZ- 
      - PUID=1000
      - PGID=1000
      - ALLOW_INTERNAL_REQUESTS=true #optional
    volumes:
      - heimdall_data:/config
    ports:
      - 8090:80
    restart: unless-stopped
    
  homarr:
    container_name: homarr
    image: ghcr.io/homarr-labs/homarr:latest
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock # Optional, only if you want docker integration
      - ${app_data}/homarr:/appdata
    environment:
      - SECRET_ENCRYPTION_KEY=70dba3baeb5f438891891ee1c921c1faf062398f50bb3e62716915bfea26c614
    ports:
      - '7575:7575'
      
  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    ports:
      - 3000:3000
    volumes:
      - ${app_data}/homepage:/app/config # Make sure your local config directory exists
      - /var/run/docker.sock:/var/run/docker.sock # (optional) For docker integrations
    environment:
      - TZ=$tzone # your TZ
      - PUID=${puid}
      - GUID=${guid}
      - HOMEPAGE_ALLOWED_HOSTS=10.0.10.24:3000 # required, may need port. See gethomepage.dev/installation/#homepage_allowed_hosts

  astroluma:
    image: sanjeet990/astroluma:latest
    container_name: astroluma
    environment:
      - TZ=$tzone # your TZ
      - PUID=${puid}
      - GUID=${guid}
      - PORT=4000
      - NODE_ENV=production
      - SECRET_KEY=a2c5f9a8b2d7e1a7f2c9c8d9b5f7a3d5
      - MONGODB_URI=mongodb://mongodb:27017/astroluma
    volumes:
      - ${app_data}/astroluma-app:/app/storage/uploads
    depends_on:
      - mongodb
    restart: always
   # network_mode: host

  mongodb:
    image: mongo:6.0
    container_name: mongodb
    volumes:
      - mongo_data:/data/db
    restart: always
   # network_mode: host

volumes:
  mongo_data:
    driver: local
  uploads_data:
    driver: local
  heimdall_data:  # Declared here
    driver: local

